doctype
html(lang=lang)
  head
    if base
      base(href=base)

    if title
      title= title
      meta(property="og:title", content=title)

      if image
        meta(property="og:image:alt", content=title)

    if description
      meta(name="description", content=description)
      meta(property="og:description", content=description)

    if url
      link(rel="canonical", href=url)
      meta(property="og:url", content=url)

    if image
      meta(property="og:image", content=image)

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,height=device-height,initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:type", content="website")
    meta(name="twitter:card", content=image ? "summary_large_image" : "summary")

    style(media="screen")!= bare.css
    style!= css
  body
    != html
    != readyScript
    if watchJs
      script!= watchJs
