doctype
html(lang=lang)
  head
    if base
      base(href=base)

    if title
      title= title
      meta(property="og:title", content=title)

      if image
        meta(property="og:image:alt", content=title)

    if author
      meta(name="author", content=author)
      meta(property="article:author", content=author)

    if description
      meta(name="description", content=description)
      meta(property="og:description", content=description)

    if keywords && keywords.length > 1
      meta(name="keywords", content=keywords.join(','))

    if url
      link(rel="canonical", href=url)
      meta(property="og:url", content=url)

    if image
      meta(property="og:image", content=image)

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,height=device-height,initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:type", content="website")
    meta(name="twitter:card", content=title && image ? "summary_large_image" : "summary")

    block head
      style!= css
  body
    block deck
      != html

    block script

    if watchJs
      script!= watchJs
