doctype
html(lang=lang)
  head
    if base
      base(href=base)

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style!= note.css
    style!= css
  body
    each slide, slideIdx in slides
      .marp-cli-note
        div!= slide
        div
          .marp-cli-note-text
            each comment in comments[slideIdx]
              p= comment

    != readyScript
    if watchJs
      script!= watchJs
