doctype
html(lang=lang)
  head
    if base
      base(href=base)

    if title
      title= title
      meta(property="og:title", content=title)

    if description
      meta(name="description", content=description)
      meta(property="og:description", content=description)

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,height=device-height,initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:type", content="website")
    style!= bespoke.css
    style!= css
  body
    if bespoke.progress
      .bespoke-progress-parent
        .bespoke-progress-bar

    if bespoke.osc
      .bespoke-marp-osc
        button(data-bespoke-marp-osc="prev" tabindex=-1 title="Previous slide") Previous slide
        span(data-bespoke-marp-osc="page")
        button(data-bespoke-marp-osc="next" tabindex=-1 title="Next slide") Next slide
        button(data-bespoke-marp-osc="fullscreen" tabindex=-1 title="Toggle fullscreen (f)") Toggle fullscreen

    != html
    != readyScript
    script!= bespoke.js
    if watchJs
      script!= watchJs
