doctype
html(lang=lang)
  head
    if base
      base(href=base)

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,height=device-height,initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style!= bespoke.css
    style!= css
  body
    if bespoke.progress
      .bespoke-progress-parent
        .bespoke-progress-bar

    != html
    != readyScript
    script!= bespoke.js
    if watchJs
      script!= watchJs
